<section>
  <div class="container clock__container">
    <div class="clock js-clock is-hidden">
      <div class="clock__items js-clock-items">
        <div class="clock__item js-clock__hours">00</div>
        <div class="clock__item js-clock__minutes">00</div>
        <div class="clock__item js-clock__seconds">00</div>

        <span class="js-clock__timezone timezone"></span>
      </div>
    </div>

    <!-- buttons -->
    <div class="buttons__wrapper js-buttons__wrapper">
      <button class="show-clock__btn js-show" type="button">
        Відобразити годинник
      </button>
      <button class="hide-clock__btn js-hide is-hidden" type="button">
        Приховати годинник
      </button>
      <button class="change-format__btn js-change is-hidden" type="button">
        AM/PM
      </button>
    </div>
  </div>
</section>
